{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {% if column %}
    {{ column.title }}
    {% endif %}
{% endblock title %}

{% block home_Nav %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <span>首页</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <span>栏目</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
    {% if column %}
    <span>{{ column.name }}</span>
    {% endif %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="span9 article-block">
    {% if column %}
        <h2>{{ column.name }}</h2>
        栏目简介：{{ column.intro }}
    {% endif %}
        栏目文章列表：
        {% for article in pagedArticles %}
            <div class="row-fluid">
                <div class="span8 blog-article">
                    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                    <ul class="unstyled inline">
                        <li><i class="icon-calendar"></i> {{ article.pub_date }}</li>
                    </ul>
                    <ul class="unstyled inline blog-tags">
                        {% for tag in article.tags.all %}
                            <li><i class="icon-tags"></i> {{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
    <span class="step-links">
        {% if pagedArticles.has_previous %}
            <a href="?page={{ pagedArticles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pagedArticles.number }} of {{ pagedArticles.paginator.num_pages }}.
        </span>

        {% if pagedArticles.has_next %}
            <a href="?page={{ pagedArticles.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
        <div class="pagination pagination-right">
            <ul>
                {% for i in pageRange %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>
    <!--end span9-->
{% endblock content %}

