{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ column.title }}
{% endblock title %}

{% block home_Nav %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <span>首页</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <span>栏目</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <span>{{ column.name }}</span>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="span9 article-block">
        <h2>{{ column.name }}</h2>
        栏目简介：{{ column.intro }}
        栏目文章列表：
        {% for article in pagedArticles %}
            <div class="row-fluid">
                <div class="span8 blog-article">
                    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                    <ul class="unstyled inline">
                        <li><i class="icon-calendar"></i> {{ article.pub_date }}</li>
                    </ul>
                    <ul class="unstyled inline blog-tags">
                        {% for tag in article.tags.all %}
                            <li><i class="icon-tags"></i> {{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
    <span class="step-links">
        {% if pagedArticles.has_previous %}
            <a href="?page={{ pagedArticles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pagedArticles.number }} of {{ pagedArticles.paginator.num_pages }}.
        </span>

        {% if pagedArticles.has_next %}
            <a href="?page={{ pagedArticles.next_page_number }}">next</a>
        {% endif %}
    </span>
        </div>
        <div class="pagination pagination-right">
            <ul>
                {% for i in pageRange %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>
    <!--end span9-->
{% endblock content %}

{% block topArticles %}
    {% for article in topArticles %}
        {% if forloop.counter0 == 0 %}
            <a href="{{ article.get_absolute_url }}" class="btn red">
                <span>{{ article.title }}</span>
                <em>Posted on: {{ article.pub_date }}</em>
                <em>
                    <i class="icon-tags"></i>
                    Money, Business, Google
                </em>
                <i class="icon-briefcase top-news-icon"></i>
            </a>
        {% endif %}
        {% if forloop.counter0 == 1 %}
            <a href="{{ article.get_absolute_url }}" class="btn green">
                <span>{{ article.title }}</span>
                <em>Posted on: {{ article.pub_date }}</em>
                <em>
                    <i class="icon-tags"></i>
                    Internet, Music, People
                </em>
                <i class="icon-music top-news-icon"></i>
            </a>
        {% endif %}
        {% if forloop.counter0 == 2 %}
            <a href="{{ article.get_absolute_url }}" class="btn blue">
                <span>{{ article.title }}</span>
                <em>Posted on: {{ article.pub_date }}</em>
                <em>
                    <i class="icon-tags"></i>
                    Internet, Music, People
                </em>
                <i class="icon-music top-news-icon"></i>
            </a>
        {% endif %}
        {% if forloop.counter0 == 3 %}
            <a href="{{ article.get_absolute_url }}" class="btn yellow">
                <span>{{ article.title }}</span>
                <em>Posted on: {{ article.pub_date }}</em>
                <em>
                    <i class="icon-tags"></i>
                    Internet, Music, People
                </em>
                <i class="icon-music top-news-icon"></i>
            </a>
        {% endif %}
        {% if forloop.counter0 == 4 %}
            <a href="{{ article.get_absolute_url }}" class="btn purple">
                <span>{{ article.title }}</span>
                <em>Posted on: {{ article.pub_date }}</em>
                <em>
                    <i class="icon-tags"></i>
                    Internet, Music, People
                </em>
                <i class="icon-music top-news-icon"></i>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}

