{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    免责声明
{% endblock title %}

{% block home_Nav %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <span>首页</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <span>免责声明</span>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <span>{{ column.name }}</span>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="span9 article-block">
        <!--end news-tag-data-->
        <div>
            <blockquote class="hero">
                {{ article.content | safe }}
            </blockquote>
        </div>
        <div>
        </div>
        <hr>
    </div>
{% endblock content %}