{% extends "base.html" %}
{% load staticfiles %}
 
{% block title %} 首页 {% endblock title %}

{% block home_Nav %}
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">首页</a>
                <i class="icon-angle-right"></i>
            </li>
        </ul>
{% endblock %}
 
{% block content %}
    <div class="span9 article-block">
        <h2>{{ toppestArticle.title }}</h2>

        <div class="blog-tag-data">
            <img src="{% static "media/image/item_img.jpg" %}" alt="">

            <div class="row-fluid">
                <div class="span6">
                    <ul class="unstyled inline blog-tags">
                        {% for tag in toppestArticle.tags.all %}
                            <li><i class="icon-tags"></i> {{ tag }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="span6 blog-tag-data-inner">
                    <ul class="unstyled inline">
                        <li><i class="icon-calendar"></i> {{ toppestArticle.pub_date }} </li>
                        <li><i class="icon-comments"></i> {{ comments | length }} comments</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end news-tag-data-->
        <div>

            <div id="main">
                {{ toppestArticle.content | safe }}
            </div>
        </div>
        <div>
        </div>
        <hr>
        <div class="media">
            <h3>Comments</h3>
            <a href="#" class="pull-left">
                <img alt="" src="{% static "media/image/9.jpg" %}" class="media-object">
            </a>

            <div class="media-body">
                <!-- Nested media object -->
                <div class="media">
                    <a href="#" class="pull-left">
                        <img alt="" src="{% static "media/image/5.jpg" %}" class="media-object">
                    </a>
                </div>
                <!--end media-->
                <hr>
                {% for comment in comments %}
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img alt="" src="{% static "media/image/7.jpg" %}" class="media-object">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.user_name }} <span>2 days ago / <a
                                    href="#">Reply</a></span></h4>

                            <p>{{ comment.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
                <!--end media-->
            </div>
        </div>
        <!--end media-->
        {% for comment in comments %}
            <div class="media">
                <a href="#" class="pull-left">
                    <img alt="" src="{% static "media/image/6.jpg" %}" class="media-object">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">{{ comment.user_name }} 说：<span>July 5,2013 / <a href="#">Reply</a></span>
                    </h4>

                    <p>{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
        <!--end media-->
        <hr>
        <div class="post-comment">
            <h3>Leave a Comment</h3>

            {% csrf_token %}
            <form action="comment" method="post">
                <label>Name</label>
                <input name="name" type="text" class="span7 m-wrap">
                <label>Email <span class="color-red">*</span></label>
                <input type="text" class="span7 m-wrap">
                <label>Message</label>
                <textarea name="comments" class="span10 m-wrap" rows="8"></textarea>

                <p>
                    <button class="btn blue" type="submit">Post a Comment</button>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}